--create table BINDING_TYPES (
--ID int identity (1,1) Primary key,
--BINDING_TYPE nvarchar(500),
--CREATION_DATE datetime,
--CREATED_BY int,
--MODIFICATION_DATE datetime,
--MODIFIED_BY int
--)
--alter table Product_master add BINDING_TYPE_ID int
--alter table Product_master add NUMBER_PAGES float
--alter table Product_master add BUNDLE_PIECES float
--alter table product_details add WASTAGE float

--alter table MATERIALS add HEIGHT float
--alter table MATERIALS add WIDTH float
--alter table MATERIALS add GRAMMAGE float
--	truncate table MATERIALS

--alter table PURCHASE_DETAIL add HEIGHT float
--alter table PURCHASE_DETAIL add WIDTH float
--alter table PURCHASE_DETAIL add GRAMMAGE float
--alter table PURCHASE_DETAIL add PAPER_TYPE nvarchar



--alter table PURCHASE_RETURN_DETAIL add HEIGHT float
--alter table PURCHASE_RETURN_DETAIL add WIDTH float
--alter table PURCHASE_RETURN_DETAIL add GRAMMAGE float
--alter table PURCHASE_RETURN_DETAIL add PAPER_TYPE nvarchar

--alter table [dbo].[JOB_ORDER_MATERIALS] add WASTAGE float
